{
  "extends": [
    "auth0-base/legacy",
    "prettier"
  ],
  "plugins": [
    "compat"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "func-names": "off",
    "no-underscore-dangle": "off",
    "no-prototype-builtins": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "vars-on-top": "off",
    "compat/compat": "error"
  }
}