{
  "reporter"   : ["text-summary", "lcov"],
  "include"    : ["src/**/*.js", "plugins/**/*.js"],
  "require"    : ["babel-register"],
  "sourceMap"  : false,
  "instrument" : false,
  "all"        : true
}