version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12-browsers
    environment:
      LANG: en_US.UTF-8
    steps:
      - checkout
      - restore-cache:
          name: Restore Package Cache
          keys:
            - npm-packages-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save-cache:
          name: Save Package Cache
          key: npm-packages-{{ checksum "package-lock.json" }}
          paths:
            - ~/.cache/npm
      - run:
          name: Build
          command: npm run build
      - run:
          name: Check for JS incompatibility
          command: npm run test:es-check:es5 && npm run test:es-check:es2015:module
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run ci:test
          environment:
            MOCHA_FILE: junit/test-results.xml
          when: always
      - run:
          name: Generate Coverage
          command: npm run ci:coverage
      - run:
          name: BrowserStack tests
          command: npm run test:e2e:browserstack
      - store_artifacts:
          path: dist
      - store_artifacts:
          path: junit
      - store_test_results:
          path: junit

workflows:
  version: 2
  default:
    jobs:
      - build:
          context:
            - browserstack-env
