name: Create GitHub Release

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:

env:
  NODE_VERSION: 18

### TODO: Replace instances of './.github/actions/' w/ `auth0/dx-sdk-actions/` and append `@latest` after the common `dx-sdk-actions` repo is made public.
### TODO: Also remove `get-prerelease`, `get-version`, `release-create`, `tag-create` and `tag-exists` actions from this repo's .github/actions folder once the repo is public.

jobs:
  release:
    uses: ./.github/workflows/npm-release.yml
    with:
      node-version: ${{ env.NODE_VERSION }}
    secrets:
      npm-token: ${{ secrets.NPM_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
